%ul.nav-bar
  %li= link_to 'Contact', contact_path
  %li= link_to 'Blog', 'http://imatechnerd.tumblr.com'
  %li= link_to 'Work', work_path
  %li= link_to 'About me', about_me_path
  %li= link_to image_tag('home.png'), home_path, class: 'home-icon'


.content
  %p My name is Bradley Arnott, I am a student studying Digital Arts (Ba Hons) at the University of Kent. This degreee envolves many different areas of the digital world, such as web design, 3D modelling, digital film making, photography and graphic design. Outside of university, I have undertook a 4 week summer internship at a development company in London.

  I am confident in using HTML and CSS in building the projects that I have completed so far. I also use 3ds Max for my 3D work that I create. If there are any small projects that you would like completing and feel free to contact me about anything you may wish to ask.

  %p Areas that I work in:
  %ul
    %ol Web Desgin
    %ol Web Development
    %ol 3D Modelling
    %ol Film Production